div.hidden {
  display: none;
}

.hearthstone {
  text-align: center;
  color: brown;
  font-size: large;
}

div.active {
  font-size: x-large;
}

.coinresult {
  text-transform: uppercase;
}

img.bigcoin {
  width: 200px;
}

img.smallcoin {
  width: 100px;
}
