div.hidden {
  display: none;
}

.hearthstone {
  text-align: center;
  color: brown;
  font-size: large;
}

div.active {
  border: 5px solid red;
}

img.bigcoin {
  width: 200px;
}

img.smallcoin {
  width: 100px;
}
